<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/register.css">
    
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div>
            <div class="section-top">
               <img src="/img/LogoNombre.png" alt="LogoCatDog">
                
               <div class="conteiner-buscador">
                <input type="search" name="barra-de-busqueda" id="buscador" placeholder="Buscar">
                <i id="lupa" class="fas fa-search"></i>
                </div>
                
                <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
        
                <div class="section-bottom">
                <ul class="usuario">
                <li><a href="">Creá tu cuenta </a></li>
                <li><a href="">Ingresá <i class="fa-solid fa-house-user"></i></a></li>
                <li><a href="">Carrito <i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul> 
                </div>   
            
            </div>
        </div>
        <div>
            <nav id="nav">
                 <ul class="opciones">
                     <li><a href="">Perros</a></li>
                     <li><a href="">Gatos</a></li>
                     <li><a href="">Otros</a></li>
                     <li><a href="">Accesorios</a></li>
                     <li><a href="">Servicios</a></li>
                 </ul>
        </div>
                 
            </nav>
    </header>
    
   
   
   
   
   
<main>
    <section class="container">
        <hr>
        <form action="" method="">
            <h2>Registro</h2>
            <div class="input-container">
                <input type="email" class="input-style" name="email" placeholder="ingrese su mail">
                <span class="error-message">Debe ingresar su email</span>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="pass" placeholder="ingrese una contraseña">
                <span class="error-message">Debe ingresar su contraseña</span>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="pass2" placeholder="Reingrese su contraseña">
                <span class="error-message">Debe reingresar su contraseña</span>
            </div>
            <div class="input-check-container">
                <label for="recordar">Acepto los <a href=" ">términos y condiciones</a></label>
                <input type="checkbox" name="terms" id="recordar">
                <span class="error-message">Debe aceptar los términos y condiciones</span>
            </div>
            <div class="btn-container">
                <span class="error-message">Hubo un error en el registro</span>
                <button type="submit" class="btn btn-submit">Registrarme</button>
            </div>
            <span><a href="login.html">Ya tengo cuenta</a></span>
        </form>
    </section>
</main> 




<footer>
    
    <div class="contenedor-footer info" >
        <article class="uno">
            <p><a href="">Quienes somos</a></p>
        </article>
        <article  class="uno">
            <p><a href="">Terminos y condiciones</a></p>
        </article>
    </div>
    
    <div class="contenedor-footer info2">
        <article>
            <p><a href="">¿Dudas?</a></p>
            <p><a href="">¿Como comprar?</a></p>
            <p><a href="">Cambios y devoluciones</a></p>
            <p><a href="">Forma de pago</a></p>
            <p><a href="">Zonas de entrega</a></p>
        </article>
    </div>
    
    <div class="contenedor-footer">
        <article class="footer_socialMedia-container">
            <div class="footer_socialMedia-icon">
                <a href="https://www.instagram.com/fundacionformar/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            
            <div class="footer_socialMedia-icon">
                <a href="https://www.facebook.com/Fundacion-Formar-269783010205963/" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
           
            <div class="footer_socialMedia-icon">
                <a href="https://www.linkedin.com/in/fundacion-formar-371034198/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            
            <div class="footer_socialMedia-icon">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </article>
    </div>

</footer>

</body>
</html>