<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %>

<body>

    <%- include("../partials/header") %>

    <main>
        <!-- header -->
    <div class="Producto">
    <div id="pagina">
        <div class="header-container">
            <header>
                <div>
                    <div class="section-top">
                    <img src="../img/LogoNombre.png" alt="LogoCatDog">
             <div class="conteiner-buscador">
                    <input type="search" name="barra-de-busqueda" id="buscador" placeholder="Buscar">
                    <i id="lupa" class="fas fa-search"></i>
                </div>
                    <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                
                    <div class="section-bottom">
                    <ul class="usuario">
                        <li><a href="">Creá tu cuenta </a></li>
                        <li><a href="">Ingresá <i class="fa-solid fa-house-user"></i></a></li>
                        <li><a href="">Carrito <i class="fa-solid fa-bag-shopping"></i></a></li>
                    </ul> 
                    </div>
                </div>
                </div>
                <div>
                    <nav id="nav">
                         <ul class="opciones">
                             <li><a href="">Perros</a></li>
                             <li><a href="">Gatos</a></li>
                             <li><a href="">Otros</a></li>
                             <li><a href="">Accesorios</a></li>
                             <li><a href="">Servicios</a></li>
                         </ul>
                        </div>
                    </nav>
                </header>
        </div>

        <!-- Fin Header -->

        
        
            <!-- Informacion Centro -->
            <div class="columna_centro_pb col-xs-12 col-sm-4">
                <!-- Imagen Pagina -->
        <div class="imagenes">
            <span class="tamaño">
                <img id="bigpic" src="../img/img-comida.png" title="Alimento Pro Plan para Perro Adulto Mediano - 15+3Kg" alt="Alimento Pro Plan para Perro Adulto Mediano - 15+3Kg" width="420" height="420">
                    <img class="imagen-2" src="../img/img-comida2.png" alt="Imagen 2">
                    <img class="imagen-3" src="../img/img-comida3.png" alt="Image 3">
            </span>
        </div>
                <h1 itemprop="Alimento Pro Plan para Perro Adulto Mediano - 15+3Kg "></h1>
            </div>
            <!-- Codigo de Producto -->
            <!-- Stars Opinion -->
            <div class="Nombre_producto">Alimento Pro Plan para Perro Adulto Mediano - 15+3Kg</div>
            <div class="Cod_Producto">còdigo de producto: | 33412</div>
                <div class="producto_reseña_estrellas">
                    <span id="spnRatingProductoTop" class="rating-producto avaliacao0"></span>
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                      </form>
                </div>

            <!-- Fin codigo de producto -->
            <!-- Fin Stars Opinion -->
            <!-- envio -->
            <div class="Envios">
                <div class="Opciones_envios">
                    <div class="titulo">Opciones de Envio:</div>
                    <div class="item">
                        <div class="icon">
                            <div class="icono_radio_activo" style="display: none;"></div>
                            <div class="icn camion"></div>
                        </div>
                        <div class="text">
                            <div class="titulo">ENVIO A DOMICILIO</div>
                            <div class="texto">Envio gratis +$3000 en CABA y zonas de GBA.
                                <p>
                                    No aplica para Envios al interior
                                </p>
                            </div>
                        </div>
                        <div class="Barra_cargadora !important;">
                            <div class="msg-barra-cargadora">
                                <span class="icn checkout"></span>
                                <div class="msg-barra-cargadora-ss">Te faltan
                                    <b>$3000</b>
                                    para que tu envio sea gratis
                                </div>
                            </div>
                            <div class="barra-de-carga">
                                <div class="barra_de_carga">
                                    <div class="item_barra_carga"></div>
                                </div>
                                <div class="dato_carga_de_barra">
                                    <span class="Canidad-inicial">$0</span>
                                    <span class="Cantidad-total">$3000</span>
                                </div>
                            </div>
                        </div>
                      <div class="Envio-flash">
                          <div class="texto">Envios a todo CABA y GBA Norte.
                              Comprando entre las
                              <br>9 am y las 8 pm, recibis tu pedido en menos de 3 horas</br>
                          </div>
                      </div>
                      <div class="titulo">Retiro en Sucursal</div>
                      <div class="texto">Retira sin cargo por tu sucursal preferida</div>
                      <div class="sucursales">
                          <a href="#">Ver sucursales</a>
                      </div>
                    </div>
                </div>
            </div>
                <!-- Precio Columna Derecha -->
            <div class="columna_derecha_pb">
                <div class="caja-info-producto">
                    <div class="precios_de_contenido">
                        <!-- precios -->
                        <div>
                            <span id="nuestro_precio" class="precio" itemprop="precio" content="xxxx">$ 4.421</span>
                            <meta itemprop="Precio_actual" content="ARS">
                        </div>
                    </div>
                </div>
            <!-- end Precio Columna Derecha -->

                <fieldset class="conjunto_campo_atributo">
                    <label class="etiqueta_atributo">EDAD</label>
                    <div class="lista_atributo">
                        <div class="seleccion" id="grupo_1_uniforme">
                            <select name="grupo_1" id="grupo_1" class="control_de_forma1">
                                <option value="1" title="">1AÑO</option>
                                <option value="2" title="">2AÑO</option>
                                <option value="3" title="">3AÑO</option>
                                <option value="4" title="">4AÑO</option>
                            </select>
                        </div>
                        <fieldset class="conjunto_campo_atributo3">
                            <label class="etiqueta_atributo2" for="grupo_3">RAZA;</label>
                            <div class="lista_atributo">
                                <div class="seleccion2" id="grupo_3_uniforme">
                                    <select name="grupo_3" id="grupo_3" class="control_de_forma2">
                                        <option value="3" title="">Todas las razas</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="conjunto_campo_atributo5">
                            <label class="etiqueta_atributo3" for="grupo_5">TAMAÑO</label>
                            <div class="lista_atributo">
                                <div class="seleccion3" id="grupo_5_uniforme">
                                    <select name="grupo_5" id="grupo_5" class="control_de_forma3">
                                        <option value="5" title="">Adulto</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
                <div class="fondo_carro_de_caja">
                    <div>
                        <p id="Añadir al carrito" class="Botones_parte_inferior">
                            <button type="enviar" name="enviar" class="exclusivo">
                                <span>Añadir al Carrito</span>
                            </button>
                        </p>
                    </div>
                </div>
                <!-- Cantidad deseada -->
                <div class="cantidad" id="cantidad_deseada">
                    <label for="cantidad_deseada">Cantidad</label>
                    <input type="numero" min="1" name="num" id="cantidad_deseada" class="texto" value="1">
                    <a href="#" data-field-num="num" class="btn btn-default button-plus producto_cantidad_down">
                        <span>
                            <i class="icono-menus">
                            </i>
                        </span>
                    </a>
                    <a href="#" data-field-num="num" class="btn btn-default button-plus producto_cantidad_up">
                        <span>
                            <i class="icono-plus"></i>
                        </span>
                    </a>
                    <span class="clearfix">
                    </span>
                </div>
                <!-- metodo de pago -->
                <div id="metodo_de_pago_logo">
                    <div class="caja_de_seguridad">
                        <h5 class="product-heading-h5"></h5>
                        <a href="" title="metodo_pago">
                            <img src="../img/img-metodo_de_pago.png" alt="" class="img-sensible">
                        </a>
                    </div>
                </div>
        <section class="página-de-descripción-del-producto">
            <h3 class="pagina-de-producto-encabezado">descripción</h3>
            <h3 class="pagina-de-producto-encabezado2">opciones</h3>
            <div class="Descripcion"> Purina Pro Plan provee nutrición de avanzada que ayuda a los perros de razas medianas a mantenerse fuertes y llenos de vitalidad. 
                                A su vez, también ayuda a otras cosas claves en el cuidado de la mascota, tales como reforzar el sistema inmune, fortalecer la microflora intestinal y reforzar la barrera cutánea. 
                                Esta fórmula ofrece, a través de sus sabrosas croquetas, un contenido rico en proteínas (26%) y grasas (15%), utilizando como ingrediente principal carne fresca de pollo, que ayuda a los perros a mantener la masa corporal magra y músculos fuertes.</div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="contenedor-footer info" >
                <article class="uno">
                    <p><a href="">Quienes somos</a></p>
                </article>
                <article  class="uno">
                    <p><a href="">Terminos y condiciones</a></p>
                </article>
            </div>
            <div class="contenedor-footer info2">
                <article>
                    <p><a href="">¿Dudas?</a></p>
                    <p><a href="">¿Como comprar?</a></p>
                    <p><a href="">Cambios y devoluciones</a></p>
                    <p><a href="">Forma de pago</a></p>
                    <p><a href="">Zonas de entrega</a></p>
                </article>
            </div>
            <div class="contenedor-footer">
                <article class="footer_socialMedia-container">
                    <div class="footer_socialMedia-icon">
                        <a href="" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="" target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="footer_socialMedia-icon">
                        <a href="">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                </article>
            </div>
        </footer>
        </div>
        <!-- end footer -->
    </div>

    </main>

    <%- include("../partials/footer") %>

    <%- include("../partials/script") %>

</body>

</html>
