:root {
  --font-bebas: 'Bebas Neue', cursive;
  --font-roboto: 'Roboto', sans-serif;
  --color-primary: rgb(35, 179, 232);
  --color-secundary: #01c167;
  --celeste-claro: #1AAFD0;
  --azul-claro: #524F9E;
  --azul-oscuro: #041562;
}


*{
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}



h2 {
  font-size: 1.5rem;
}

.main_producto img{
  width: 12rem;
    height: 12rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 10rem;
    border: 1px solid #e6e6e6
}

h2 {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white
  margin-left: 2rem;
  border-radius: 1rem;
}

.main_foto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.main_detalle{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  
}



.main_detalle{
  color: black;
  background-color: #524F9E;
}

.main_boton_cantidad{
  display: flex;
  padding: 5px;
  text-align: center;
}

hr {
  width: 50%;
  margin: 0.5rem;
  color: rgba(0,0,0,.30);
  background-color: #041562;
}

ul p{ 
  font-size: 1rem;
  font-weight: bold;
}