<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body> 

        <%- include("../partials/header") %>
        
    <main>
        <section class="container">
        
            <form action="" method="">  
                <h2>Login</h2>
                <div class="input-container">
                    <input type="email" class="input-style" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input type="password" class="input-style" name="pass" placeholder="Ingrese una contrase침a">
                    <span class="error-message">Debe ingresar su contrase침a</span>
                </div>
                <div class="input_check-container">
                    <label for="recordar">Recordar <input type="checkbox" name="remember" id="recordar"></label>
                </div>
                <div class="btn-container">
                    <span class="error-message">Credenciales inv치lidas</span>
                    <button type="submit" class="btn btn-submit">Iniciar sesi칩n</button>
                </div>
                <span><a href="register.html">No tengo cuenta</a></span>
            </form>
    
        </section>
    </main> 

    <%- include("../partials/footer") %>

    <%- include("../partials/script") %>
</body>

</html>

