<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

    <body>

        <%- include("../partials/header") %>
        
<main class="registro">
    <section class="container">
        
        <form action="" method="">
            <h2>Registro</h2>
            <div class="input-container">
                <input type="text" class="input-style" name="nombre" placeholder="ingrese su nombre">
                <span class="error-message">Debe ingresar su nombre</span>
            </div>
            <div class="input-container">
                <input type="text" class="input-style" name="apellido" placeholder="ingrese su apellido">
                <span class="error-message">Debe ingresar su apellido</span>
            </div>
            <div class="input-container">
                <input type="email" class="input-style" name="email" placeholder="ingrese su mail">
                <span class="error-message">Debe ingresar su email</span>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="password" placeholder="ingrese una contraseña">
                <span class="error-message">Debe ingresar su contraseña</span>
            </div>
            <div class="input-container">
                <input type="password" class="input-style" name="pass2" placeholder="Reingrese su contraseña">
                <span class="error-message">Debe reingresar su contraseña</span>
            </div>
            <div class="input-container">
                <input type="file" class="input-style" name="avatar" placeholder="seleccione su avatar">
                <span class="error-message">Debe ingresar una imagen</span>
            </div>
            <div class="input-check-container">
                <label for="recordar">Acepto los <a href=" ">términos y condiciones</a></label>
                <input type="checkbox" name="terms" id="recordar">
                <span class="error-message">Debe aceptar los términos y condiciones</span>
            </div>
            <div class="btn-container">
                <span class="error-message">Hubo un error en el registro</span>
                <button type="submit" class="btn btn-submit">Registrarme</button>
            </div>
            <span><a href="login.html">Ya tengo cuenta</a></span>
        </form>
    </section>
</main> 

<%- include("../partials/footer") %>

<%- include("../partials/script") %>
</body>

</html>



